################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/FileContentIndex/8d999389-e1ec-49d9-bd53-235e8342b931.vsidx
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/FileContentIndex/901cd536-b07d-4e00-bc3b-e7f254f367b3.vsidx
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/FileContentIndex/fae6bbd2-c8cf-405f-9c63-eca71bb729ab.vsidx
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/v17/.wsuo
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/FileContentIndex/3913d1fb-bd70-4809-bb1d-7551e0debc79.vsidx
/.vs/Solve-2DlayoutFLP-Via-BMO-MPA-SMA/FileContentIndex/e8342bfb-69ae-4253-8479-e6ccc78f7831.vsidx
